<!DOCTYPE html>


<html <%- has_config('language') ? ' lang="' + get_config('language').substring(0, 2) + '"' : '' %>>
<head>
    <%- _partial('common/head') %>
</head>
<body class="is-<%= column_count() %>-column">
    <%- _partial('common/navbar') %>
    <% function main_column_class() {
        switch (column_count()) {
            case 1:
                return 'is-12';
            case 2:
                return 'is-8-tablet is-8-desktop is-8-widescreen';
            case 3:
                return 'is-8-tablet is-8-desktop is-6-widescreen'
        }
        return '';
    } %>
    <section class="section">
        <div class="container" style="margin-left: 0px;margin-right: 0px;">
            <div class="columns">
              <% if (page.path === 'index.html') { %>
                <div class="column <%= main_column_class() %> has-order-2 column-main threeLine"><%- body %></div>
              <% } else { %>
                  <div class="column <%= main_column_class() %> has-order-2 column-main twoLine"><%- body %></div>
              <% } %>
                
                <%- _partial('common/widget', { position: 'left' }) %>
                <% if (page.path === 'index.html') { %>
                  <%-  _partial('common/widget', { position: 'right' }) %>
                <% } %>
            </div>
            
        </div>
    </section>
    
    <%- _partial('common/footer') %>
    <%- _partial('common/scripts') %>

    <% if (has_config('search.type')) { %>
    <%- _partial('search/' + get_config('search.type')) %>
    <% } %>

    <%- _partial('custom') %>

</body>
</html>